@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrLDz8Z1xlFQ.woff2') format('woff2');
  }
  
  body {
    font-family: 'Poppins';
    background-image: url("./images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
  }
  
  

input{
    border-radius:0.1cm;
    border-color:green;
    padding: 2% 0 2% 5%;
}
.try{
    color:white;
}
.head{
    background-color: hsl(248, 32%, 49%);
    color: hsl(246, 25%, 77%);
    padding:5%;
    padding-top:2%;
    padding-bottom:2%;
    border-radius: 0.3cm;
    text-align:center;
    box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    width:80%;
}
.conditions{
    font-size: 12px;
    color: hsl(246, 25%, 77%);
    text-align: center;
}
.main{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.error-message{
    color:red;
    text-align:right;
    font-size:12px;
    
}
.second{
    color:white;
    width:30%;
}
.form{
    display:flex;
    flex-direction:column;
    width:35%;
    margin-top: 5%;
}
h1{
   font-size:  36px;
}
form{
    background-color: white;
    border-radius: 0.2cm;
    display:flex;
    flex-direction:column;
    height:90%;
    padding:5%;
    padding-top: 7%;
    width:80%;
    overflow: auto;
    gap:8px;
}
#text-container {
    font-size:14px;
    font-family: Arial, sans-serif;
   color: hsl(246, 25%, 77%);
    white-space: normal; /* Prevent text from wrapping */
        /* Hide overflowing text */
    border-right: 3px solid #333; /* Simulate typing cursor */

}
.terms{
    color: red;
}
#error-icon{
z-index:1000;
width:3%;
display:flex;
align-self: flex-end;
margin-bottom:-8%;
margin-right:2%;
visibility: hidden;
}
.submit{
background-color:hsl(154, 59%, 51%);
border:0;
outline:0;
padding:2%;
color:white;
cursor:pointer;
box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.75);
}
.submit:hover {
background: linear-gradient(270deg,white, hsl(154, 59%, 51%));
color:hsl(248, 32%, 49%);
}

@media (max-width:1200px) {

.form{
    width:80%
}
.second{
    width:80%
}

}
@media (max-width:700px) {
    .main{
        flex-direction:column;
        
}
.form{
    width:80%;
    margin-top: 10%;
   
    position: absolute;
    top: 25%;
    
}
.head{
    width: 90%;
}
form{
    width: 90%;
    
}
.h1{
    width: 100%;
}
.h1 h1{
    width: 100%;
}
.text{
    width: 88%;
}
.second{
    margin-top: 5%;
    width:80%;
    
}

}
@media (max-width:500px) {
    .main{
        flex-direction:column;
}
.form{
    width:80%;
    margin-top: 15%;
        
}
.h1{
    width: 100%;
}
.h1 h1{
    width: 100%;
}
.text{
    width: 88%;
}
.second{
    margin-top: 5%;
    width:80%;
    
}
#error-icon{
    
    margin-bottom:-10%;
   
    }
}
@media (max-width:400px) {
    
.form{
    width:80%;
    margin-top: 25%;
        
}
}